@import "_reset.scss";

body {
  font-family: "Montserrat";
}

@media (min-width: 320px) {
  .list {
    &__wrapper {
      background-color: lightgray;
      min-height: 100vh;
      max-height: 100%;
      padding: 15px;
      margin: 0 auto;
    }

    &__title {
      padding: 10px 0px 15px;
    }

    &__area-form {
      display: flex;
      justify-content: space-between;
    }

    &__input {
      min-width: 60%;
      border-radius: 10px;
      padding: 5px;
      border: none;
    }

    &__btn-add,
    &__btn-delete,
    &__btn-edit,
    &__btn-edit-task {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: none;
      color: white;
      padding: 4px 15px;
      &:hover {
        cursor: pointer;
      }
    }

    &__btn-add {
      padding: 4px 10px;
      max-width: 150px;
      background-color: #48ff94;
      &:hover {
        background-color: #7efcbd;
      }
    }

    &__btn-edit-task {
      background-color: #4848ff;
      &:hover {
        background-color: #6471ff;
      }
    }

    &__btn-delete {
      background-color: #fff;
      &:hover {
        background-color: #f5f5f5;
      }
    }

    &__btn-edit {
      background-color: #4848ff;
      &:hover {
        background-color: #6471ff;
      }
      &:disabled {
        background-color: #c0c0c0;
      }
    }

    &__table {
      padding: 0px;
      margin: 20px 0px;
    }

    &__task {
      list-style: none;
      margin: 5px 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 5px;
      border-bottom: 1px solid #c0c0c0;
    }

    &__task-status {
      display: flex;
      gap: 10px;
      align-items: center;
      max-width: 350px;
      overflow: hidden;
    }

    &__buttons {
      display: flex;
      gap: 5px;
    }
  }

  .img {
    &__delete,
    &__edit {
      pointer-events: none;
    }
  }
}

@media (min-width: 768px) {
  body {
    background-color: #b8b8b8;
  }

  .list {
    &__wrapper {
      padding: 25px;
      max-width: 850px;
    }

    &__btn-add {
      min-width: 120px;
    }

    &__btn-edit,
    &__btn-delete {
      display: flex;
      justify-content: center;
      min-width: 60px;
    }

    &__buttons {
      gap: 10px;
    }

    &__area-form {
      justify-content: flex-start;
      gap: 15px;
    }

    &__input {
      min-width: 400px;
    }

    &__table {
      max-width: 800px;
    }
  }
}

@media (min-width: 850px) {
  .list {
    &__wrapper {
      border-radius: 10px;
    }
  }
}
